.desktop {
	--asset-minesweeper: url('../../assets/desktop/minesweeper.png');
	--asset-shortcut: url('../../assets/desktop/shortcut.png');
	--asset-start: url('../../assets/desktop/start.png');

	--selection-rgb: 49, 106, 197;
}
