{
	"extends": ["stylelint-config-standard", "stylelint-config-prettier"],
	"plugins": ["stylelint-prettier"],
	"rules": {
		"indentation": "tab",
		"string-quotes": "single"
	},
	"overrides": [
		{
			"extends": ["stylelint-config-standard-scss", "stylelint-config-prettier-scss"],
			"files": ["**/*.scss"],
			"customSyntax": "postcss-scss"
		}
	],
	"ignoreFiles": ["coverage/**/*"]
}
