@import '98.css/dist/98.css';

@font-face {
	font-family: 'fs-tahoma-8px';
	src: url('fonts/fs-tahoma-8px/fs-tahoma-8px.woff2') format('woff2');
}

.windows-scheme-standard {
	// Colors picked from Windows 2000 Standard Scheme
	--win-background-color: #3a6ea5;
	--win-window-title-bar-active-start: #000080;
	--win-window-title-bar-active-end: #a6caf0;
	--win-window-title-bar-inactive-start: #808080;
	--win-window-title-bar-inactive-end: #c0c0c0;
	--win-window-title-bar-active-text: #fff;
	--win-window-title-bar-inactive-text: #c8c8c8;
}

.windows-scheme-classic {
	// Colors picked from Windows 2000 Classic Scheme
	--win-background-color: #008080; // Not actually part of the scheme, Windows 2000 under the the classic scheme uses the same background color as the standard scheme #3a6ea5
	--win-window-title-bar-active-start: #000080;
	--win-window-title-bar-active-end: #1084d0;
	--win-window-title-bar-inactive-start: #808080;
	--win-window-title-bar-inactive-end: #b5b5b5;
	--win-window-title-bar-active-text: #fff;
	--win-window-title-bar-inactive-text: #c8c8c8;
}

body {
	display: block;
	height: 100vh;
	overscroll-behavior: none;
	background-color: var(--win-background-color);
	margin: 0;
	-webkit-touch-callout: none !important;
	font-family: 'fs-tahoma-8px', 'Pixelated MS Sans Serif', Tahoma, Geneva, Verdana, sans-serif !important;
}

button {
	font-family: 'fs-tahoma-8px', 'Pixelated MS Sans Serif', Tahoma, Geneva, Verdana, sans-serif !important; // Patch 98.css
	cursor: pointer;
}

hr {
	width: 90%;
	align-self: center;
	margin-bottom: 3px;
}

.panel {
	display: block;
	border: #eee;
	border-style: none;
	border-spacing: 3px;
	border-width: 3px;
	outline-width: 0;
	background-color: rgb(192 192 192);
}

.padded {
	padding: 3px;
}

.inset {
	border-style: inset;
	outline-style: inset;
}

.outset {
	border-style: outset;
	outline-style: outset;
}
