.segment-display {
	--seven-segment-display-gap: 1px;
	--seven-segment-display-vertical-bar-height: 9px;
	--seven-segment-display-vertical-bar-width: 3px;
	--seven-segment-display-horizontal-center-bar-height: 3px;
	--seven-segment-display-horizontal-center-bar-width: 7px;
	--seven-segment-display-horizontal-bar-height: 3px;
	--seven-segment-display-horizontal-bar-width: 9px;

	// the distance between the top of the top segment and the bottom of the bottom segment, no padding
	--seven-segment-display-digit-only-height: 21px; // 2 vertical bars, 1px gaps at center, start and end.
	--seven-segment-display-digit-only-width: 11px;
}
