@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

button {
	z-index: 100;
	cursor: pointer;
}

.button,
.panel {
	display: block;
	border: #eee;
	border-style: none;
	border-spacing: 3px;
	border-width: 3px;
	background-color: rgb(192, 192, 192);
}

.button {
	border-style: outset;
	outline-color: #c3c3c3;
	outline-style: outset;
	outline-width: 0;
}

.panel {
	outline-width: 0;
}

.inset {
	border-style: inset;
	outline-style: inset;
}

.padded {
	padding: 3px;
}

.outset {
	border-style: outset;
	outline-style: outset;
}
