@font-face {
	font-family: 'Tahoma8px';
	src: url('assets/fonts/tahoma-8px-regular.woff') format('woff');
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	font-family: 'Tahoma8px', 'Pixelated MS Sans Serif', Tahoma, Geneva, Verdana, sans-serif;
}

/*
   Patch 98.css
 */
button {
	font-family: 'Tahoma8px', 'Pixelated MS Sans Serif', Tahoma, Geneva, Verdana, sans-serif !important;
}

/*
.title-bar-controls button {
	background-position: top 4px left 4px;
	background-size: 15px !important;
}
*/
