@font-face {
	font-family: 'fs-tahoma-8px';
	src: url('fonts/fs-tahoma-8px/fs-tahoma-8px.woff2') format('woff2');
}

body {
	margin: 0;
	height: 100vh;
	font-family: 'fs-tahoma-8px', 'Pixelated MS Sans Serif', Tahoma, Geneva, Verdana, sans-serif !important;
}

/*
 * Patch 98.css
 */
button {
	font-family: 'fs-tahoma-8px', 'Pixelated MS Sans Serif', Tahoma, Geneva, Verdana, sans-serif !important;
}
