.desktop {
	--asset-minesweeper-icon-small: url('../../assets/minesweeper/minesweeper-icon-small.png');
	--asset-minesweeper-icon-large: url('../../assets/minesweeper/minesweeper-icon-large.png');
	--asset-shortcut: url('../../assets/desktop/shortcut.png');
	--asset-checkmark: url('../../assets/minesweeper/checkmark.png');
}
