body {
	display: block;
	height: 100vh;

	&.w98 {
		background-color: rgb(59, 110, 165);
	}

	&.wXP {
		background-color: rgb(231, 71, 255);
	}
}

button {
	cursor: pointer;
}

hr {
	width: 90%;

	align-self: center;
	margin-bottom: 3px;
}

.panel {
	display: block;
	border: #eee;
	border-style: none;
	border-spacing: 3px;
	border-width: 3px;
	background-color: rgb(192, 192, 192);
}

.panel {
	outline-width: 0;
}

.inset {
	border-style: inset;
	outline-style: inset;
}

.padded {
	padding: 3px;
}

.outset {
	border-style: outset;
	outline-style: outset;
}
