.minesweeper {
	--unit: 1px;

	--border-color-light-og: #fff;
	--border-color-dark-og: #888;
	--panel-border-color: #eee;
	--tile-border-color: #a6a6a6;
	--tile-grid-color: #c0c0c0; // 192

	--tile-0-color: #a0a0a0;
	--tile-1-color: #0000ff;
	--tile-2-color: #008100;
	--tile-3-color: #ff1300;
	--tile-4-color: #000083;
	--tile-5-color: #810500;
	--tile-6-color: #2a9494;
	--tile-7-color: #000000;
	--tile-8-color: #808080;
	--tile-9-color: #ffd22e;

	// These dimensions were taken from the Windows XP SP3 version of Minesweeper
	--game-area-border-width: 3px; // The outermost border, there is no right and bottom border
	--game-area-padding: 6px; // the game area holds both the 7 segment displays and the tile grid
	// Smiley total size: 28px
	--smiley-icon-size: 17px;
	--smiley-outline-width: 1px;
	--smiley-border-width: 3px;
	--smiley-top-left-padding: 2px;
	--smiley-bottom-right-padding: 1px;

	--seven-segment-display-gap: 1px;
	--seven-segment-display-vertical-bar-height: 9px;
	--seven-segment-display-vertical-bar-width: 3px;
	--seven-segment-display-horizontal-center-bar-height: 3px;
	--seven-segment-display-horizontal-center-bar-width: 7px;
	--seven-segment-display-horizontal-bar-height: 3px;
	--seven-segment-display-horizontal-bar-width: 9px;
	// the distance between the top of the top segment and the bottom of the bottom segment, no padding
	--seven-segment-display-digit-only-height: 21px; // 2 vertical bars, 1px gaps at center, start and end.
	--seven-segment-display-digit-only-width: 11px;
}

div.ms-tile {
	user-select: none;

	border-left-style: solid;
	border-top-style: solid;

	background-color: var(--tile-grid-color);
	border-color: var(--tile-border-color);
	border-width: 1px;
	text-align: center;
	font-size: 32px;
	line-height: 42px;

	&.mine {
		background-position: 1px 1px;
	}
}

button.ms-tile {
	background-position: 1px 1px;

	&:active {
		padding: 0;
	}

	&.mine {
		background-size: 12px;
		&.pressed {
			background-position: 1px 1px;
		}

		&:not(.pressed) {
			background-position: 0px 0px;
		}
	}
}

.ms-tile {
	height: 16px;
	width: 16px;
	display: block;
	box-sizing: border-box;
	padding: 0;
	image-rendering: pixelated;
	background-repeat: no-repeat;
	background-position: 2px 2px;

	user-select: none;

	&.wrong:not(.flag) {
		background-color: red;
	}

	&.flag {
		&.revealed,
		&:not(.debug):not(.wrong) {
			background-image: url('assets/minesweeper/flag.png');
		}
		&.debug:not(.revealed):not(.wrong) {
			background-image: linear-gradient(
					rgba(var(--tile-grid-color), 0.8),
					rgba(var(--tile-grid-color), 0.8)
				),
				url('assets/minesweeper/flag.png');
		}

		&.wrong {
			&.revealed,
			&:not(.debug) {
				background-position: 1px 1px;
				background-image: url('assets/minesweeper/not-mine.png');
			}
			&.debug:not(.revealed) {
				background-position: 1px 1px;
				background-image: linear-gradient(
						rgba(var(--tile-grid-color), 0.8),
						rgba(var(--tile-grid-color), 0.8)
					),
					url('assets/minesweeper/not-mine.png');
			}
		}
	}

	&.question-mark {
		&.revealed,
		&:not(.debug) {
			background-image: url('assets/minesweeper/question-mark.png');
		}
		&.debug:not(.revealed) {
			background-image: linear-gradient(
					rgba(var(--tile-grid-color), 0.8),
					rgba(var(--tile-grid-color), 0.8)
				),
				url('assets/minesweeper/question-mark.png');
		}
	}

	&.mine {
		&.revealed,
		&:not(.debug) {
			background-image: url('assets/minesweeper/mine.png');
		}
		&.debug:not(.revealed) {
			background-image: linear-gradient(
					rgba(var(--tile-grid-color), 0.8),
					rgba(var(--tile-grid-color), 0.8)
				),
				url('assets/minesweeper/mine.png');
		}
	}

	$tile-colors: var(--tile-0-color), var(--tile-1-color), var(--tile-2-color), var(--tile-3-color),
		var(--tile-4-color), var(--tile-5-color), var(--tile-6-color), var(--tile-7-color),
		var(--tile-8-color), var(--tile-9-color);

	@for $i from 2 through 10 {
		&-#{$i - 1} {
			color: nth($tile-colors, $i);

			&.revealed,
			&:not(.debug) {
				background-image: url('assets/minesweeper/#{$i - 1}.png');
			}
			&.debug:not(.revealed) {
				background-image: linear-gradient(
						rgba(var(--tile-grid-color), 0.8),
						rgba(var(--tile-grid-color), 0.8)
					),
					url('assets/minesweeper/#{$i - 1}.png');
			}
		}
	}
}
