.minesweeper {
	--unit: 1px;

	--border-color-light-og: #fff;
	--border-color-dark-og: #888;
	--panel-border-color: #eee;
	--tile-border-color: #a6a6a6;
	--tile-grid-color-triplet: 192, 192, 192; // 192
	--tile-grid-color: rgb(192, 192, 192); // #c0c0c0

	--tile-0-color: #a0a0a0;
	--tile-1-color: #0000ff;
	--tile-2-color: #008100;
	--tile-3-color: #ff1300;
	--tile-4-color: #000083;
	--tile-5-color: #810500;
	--tile-6-color: #2a9494;
	--tile-7-color: #000000;
	--tile-8-color: #808080;
	--tile-9-color: #ffd22e;

	--tile-debug-veil: linear-gradient(
		rgba(var(--tile-grid-color-triplet), 0.8),
		rgba(var(--tile-grid-color-triplet), 0.8)
	);

	--asset-smiley-click: url('../public/assets/minesweeper/smiley-click-small.png');
	--asset-smiley-lost: url('../public/assets/minesweeper/smiley-lost-small.png');
	--asset-smiley-ongoing: url('../public/assets/minesweeper/smiley-ongoing-small.png');
	--asset-smiley-won: url('../public/assets/minesweeper/smiley-won-small.png');
	--asset-flag: url('../public/assets/minesweeper/flag.png');
	--asset-not-mine: url('../public/assets/minesweeper/not-mine.png');
	--asset-question-mark: url('../public/assets/minesweeper/question-mark.png');
	--asset-mine: url('../public/assets/minesweeper/mine.png');
	--asset-checkmark: url('../public/assets/minesweeper/checkmark.png');

	@for $i from 0 through 10 {
		--asset-number-#{$i - 1}: url('../public/assets/minesweeper/#{$i - 1}.png');
	}

	// These dimensions were taken from the Windows XP SP3 version of Minesweeper
	--game-area-border-width: 3px; // The outermost border, there is no right and bottom border
	--game-area-padding: 6px; // the game area holds both the 7 segment displays and the tile grid
	// Smiley total size: 28px
	--smiley-icon-size: 17px;
	--smiley-outline-width: 1px;
	--smiley-border-width: 3px;
	--smiley-top-left-padding: 2px;
	--smiley-bottom-right-padding: 1px;

	--seven-segment-display-gap: 1px;
	--seven-segment-display-vertical-bar-height: 9px;
	--seven-segment-display-vertical-bar-width: 3px;
	--seven-segment-display-horizontal-center-bar-height: 3px;
	--seven-segment-display-horizontal-center-bar-width: 7px;
	--seven-segment-display-horizontal-bar-height: 3px;
	--seven-segment-display-horizontal-bar-width: 9px;
	// the distance between the top of the top segment and the bottom of the bottom segment, no padding
	--seven-segment-display-digit-only-height: 21px; // 2 vertical bars, 1px gaps at center, start and end.
	--seven-segment-display-digit-only-width: 11px;
}

button.ms-tile {
	height: 16px;
	width: 16px;
	display: block;
	box-sizing: border-box;
	padding: 0;
	image-rendering: pixelated;
	background-repeat: no-repeat;
	background-position: 2px 2px;

	user-select: none;

	background-size: auto;

	&:active {
		padding: 0;
	}

	&.mine {
		&.pressed {
			background-position: 1px 1px !important;
			background-size: 13px;
		}

		&:not(.pressed) {
			background-position: 0px 0px !important;
			background-size: 12px;
		}
	}

	&.wrong:not(.flag) {
		background-color: red;
	}

	&.flag {
		&.revealed,
		&:not(.debug):not(.wrong) {
			background-image: var(--asset-flag);
		}
		&.debug:not(.revealed):not(.wrong) {
			background-image: var(--tile-debug-veil), var(--asset-flag);
		}

		&.wrong {
			&.revealed,
			&:not(.debug) {
				background-position: 1px 1px;
				background-image: var(--asset-not-mine);
			}
			&.debug:not(.revealed) {
				background-position: 1px 1px;
				background-image: var(--tile-debug-veil), var(--asset-not-mine);
			}
		}
	}

	&.question-mark {
		&.revealed,
		&:not(.debug) {
			background-image: var(--asset-question-mark);
		}
		&.debug:not(.revealed) {
			background-image: var(--tile-debug-veil), var(--asset-question-mark);
		}
	}

	&.mine {
		&.revealed,
		&:not(.debug) {
			background-image: var(--asset-mine);
		}
		&.debug:not(.revealed) {
			background-image: var(--tile-debug-veil), var(--asset-mine);
		}
	}

	$tile-colors: var(--tile-0-color), var(--tile-1-color), var(--tile-2-color), var(--tile-3-color),
		var(--tile-4-color), var(--tile-5-color), var(--tile-6-color), var(--tile-7-color),
		var(--tile-8-color), var(--tile-9-color);

	@for $i from 2 through 10 {
		&-#{$i - 1} {
			color: nth($tile-colors, $i);

			&.revealed,
			&:not(.debug) {
				background-image: var(--asset-number-#{$i - 1});
			}
			&.debug:not(.revealed) {
				background-image: var(--tile-debug-veil), var(--asset-number-#{$i - 1});
			}
		}
	}
}
